<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
 <h1 id="tarot-cards" class="pt-5">Tarot Cards</h1>
            <div id="carouselExampleCaptions" class="carousel slide p-5">

                <div class="carousel-indicators ">
                    <button type="button" class="a-button active" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"  aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" class="a-button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="20" aria-label="Slide 21" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="21" aria-label="Slide 22" class="a-button"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="22" aria-label="Slide 23" class="a-button"></button>

                </div>
                <div class="carousel-inner">

                    <div class="carousel-item active ">
                        <img src="static/Sol_Tarot"  class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973196678270987/IMG_2913.jpg?ex=66b4f662&is=66b3a4e2&hm=ecdafef5607f9dcdb60ef12fb0e84b8f036eeb90d18d03f948458c507077b6cf&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973196950896811/IMG_2910.jpg?ex=66b4f662&is=66b3a4e2&hm=b05e76359b058b853c7983d8f13ff0bb4358eabfcd3099940dde415903ea2b46&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973197240565821/IMG_2911.jpg?ex=66b4f662&is=66b3a4e2&hm=907d6fde926a2591ea2d8e503e89fabe8d3b6a63ffa3db063b204f4c87a2e717&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973197496160410/IMG_2908.jpg?ex=66b4f662&is=66b3a4e2&hm=586c1c94a1c21b81f7733dd1d192c288eb1f4211f992709376ed74d6c30b85b5&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973197739425833/IMG_2907.jpg?ex=66b4f662&is=66b3a4e2&hm=002e1ba7b9a192cf6dbc55b0141e73484b58ca927e2c308f7f64f19f9c31e1a3&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973198117175448/IMG_2906.jpg?ex=66b4f662&is=66b3a4e2&hm=a988b3643e7ab0b0a961e68fd901b2f5f23e98a0970d894c9d30e6ce7e553324&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973198448394360/IMG_2904.jpg?ex=66b4f662&is=66b3a4e2&hm=62a2b728b59461f9dc72ec62d43540d6396730522987a0378ff6114b319a6a8f&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973198725087242/IMG_2903.jpg?ex=66b4f662&is=66b3a4e2&hm=a1068686cb4707861e0797e82c7923f5ffbf98a770cff7c45dd3cfd639d132bf&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973199044116500/IMG_2836.jpg?ex=66b4f663&is=66b3a4e3&hm=61033448d8a3c904288ada2e02e4eaf2933e2eabcdcf67f9fc97d39974ae5e76&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973261237256287/IMG_2884.jpg?ex=66b4f671&is=66b3a4f1&hm=b2a4bf6dcceedfe823912ab2b12c407201e29db82051516c74b2d60aec73ea23&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973261501501699/IMG_2883.jpg?ex=66b4f671&is=66b3a4f1&hm=1551086f4b870dfc810a0d276199ccc09e3787689de3594b782181d81bfb3f51&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973261950156904/IMG_2899.jpg?ex=66b4f672&is=66b3a4f2&hm=b302b0512960bdc21ee22a66c81267325b9715339cda1d7f8cbac1fabeecd28e&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973262327648378/IMG_2898.jpg?ex=66b4f672&is=66b3a4f2&hm=3fc8103e8bb888f508d1db513fb7faada3436009c2753fc993e7a96feb8fe7c8&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973262646546494/IMG_2897.jpg?ex=66b4f672&is=66b3a4f2&hm=c8ccd496b983b4c354da9178edf7f0416d9f9ee63526b345bceaec60013cd0c9&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973263053262980/IMG_2896.jpg?ex=66b4f672&is=66b3a4f2&hm=50853099dc50cbadf46ebd2007f8945e782efa8c8c656c033b97e10c1a4a5d83&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973263308980334/IMG_2895.jpg?ex=66b4f672&is=66b3a4f2&hm=91746448e83fb101871c14881c5c3c12013da6ae69329baf34affa82feebd957&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973263653175346/IMG_2881.jpg?ex=66b4f672&is=66b3a4f2&hm=15da0b4a6c6eef99f8d95c88825753e3cb548ec4131ef966f756499df14250e5&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973288550432992/IMG_2887.jpg?ex=66b4f678&is=66b3a4f8&hm=f9404249d1b299ab15687d5b2c2be43190d187b199d081aee83941f6150e5bc6&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973289108279448/IMG_2885.jpg?ex=66b4f678&is=66b3a4f8&hm=c0abd085938e4031bbcbfdd06ec4cf69b5ef8be1ea2f05ca6cfbdfb36f734390&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973289414594571/IMG_2889.jpg?ex=66b4f678&is=66b3a4f8&hm=d4b564f5bcc0daee0db10b136a380526d0aad63b97252d92e3c730698940f483&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973288806416504/IMG_2886.jpg?ex=66b4f678&is=66b3a4f8&hm=17ea8de3c78b473be859c76fb33eeaa8130a77e83ac01a1733c1b8312bd0f0aa&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.discordapp.net/attachments/1075556767091662852/1268973289687089234/IMG_2888.jpg?ex=66b4f678&is=66b3a4f8&hm=6deb6c1c7c8f25a35d3e63c077e626bc4dac105aca415154659e359e05012186&=&format=webp&width=402&height=671" class="d-block" alt="...">
                    </div>
                </div>

                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden ">Previous</span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>